@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

body, html {
  height: 100%; }

img, fieldset, a img {
  border: none; }

input[type="submit"],
button {
  cursor: pointer; }
  input[type="submit"]::-moz-focus-inner,
  button::-moz-focus-inner {
    padding: 0;
    border: 0; }

textarea {
  overflow: auto; }

input, button {
  margin: 0;
  padding: 0;
  border: 0; }

input, textarea, select, button,
h1, h2, h3, h4, h5, h6, a, span, a:focus {
  outline: none; }

ul, ol {
  list-style-type: none; }

* {
  -webkit-text-size-adjust: none; }

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%; }

body {
  font-size: 1em; }

.page {
  max-width: 1600px;
  min-width: 320px;
  margin: auto;
  position: relative; }
  .page .page__cover-image {
    position: absolute;
    width: 100%;
    z-index: -1; }

.header {
  position: relative;
  overflow: hidden; }
  .header .header__cover-image {
    position: absolute;
    width: 100%;
    z-index: -1; }

.wrapper {
  margin: auto 12.5%; }

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }

.cell {
  vertical-align: middle; }

.logo .logo__link,
.logo .logo__icon {
  display: block;
  margin-left: -15px; }

.nav {
  margin-top: 40px;
  position: relative;
  overflow: hidden; }
  .nav .nav__link {
    display: inline-block;
    margin: 0 10px;
    font: bold small-caps 1.2em/2em "LatoLatin", Helvetica, Sans-serif;
    color: #FFF;
    text-decoration: none; }
    .nav .nav__link:first-child {
      margin-right: 20px; }
    .nav .nav__link.nav__link_menubutton {
      padding: 0 10px 0;
      margin: 0; }
  .nav .nav__menu {
    position: absolute;
    width: 360px;
    right: -360px; }

.get-started {
  position: relative;
  padding: 0 12.5%;
  max-height: 770px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start; }
  .get-started .get-started__captions {
    width: 38.35%;
    max-width: 460px;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 19.87%;
    margin-bottom: 19.87%; }
  .get-started .caption {
    text-align: center;
    color: #FFF; }
    .get-started .caption.caption_top_italic {
      font: italic 2.25em/1 "LatoLatin Light", Helvetica, Sans-serif;
      opacity: 0.7; }
    .get-started .caption.caption_top_big {
      font: bold 6.25em/1 "LatoLatin", Helvetica, Sans-serif; }
    .get-started .caption.caption_bottom {
      font: normal 0.875em/1.875em "LatoLatin", Helvetica, Sans-serif; }
    .get-started .caption .caption_link {
      font: normal 1em/1 "LatoLatin", Helvetica, Sans-serif;
      color: #FFF;
      text-decoration: underline; }
  .get-started .button_border_white {
    margin: 30px auto; }

.button {
  display: block;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none; }
  .button.button_border_white {
    font: bold 1.125em/1.313em "LatoLatin", Helvetica, Sans-serif;
    color: #FFF;
    padding: 22px 80px;
    border: 2px solid #fff;
    -webkit-border-radius: 2px;
    border-radius: 2px; }
  .button.button_app {
    display: inline-block;
    margin-right: 10px;
    height: 39px; }
    .button.button_app.button_app_apple {
      width: 112px;
      background: url("../images/icon-app-apple.png") no-repeat center; }
    .button.button_app.button_app_google {
      width: 120px;
      background: url("../images/icon-app-google.png") no-repeat center; }

.title {
  display: inline-block; }
  .title .title__text {
    font: bold small-caps 1.6em/1.4em "LatoLatin", Helvetica, Sans-serif; }
  .title .title__underline {
    width: 33%;
    margin: auto;
    border-bottom: 1px solid #f57365; }
    .title .title__underline.title__underline_left {
      margin-left: 0; }
    .title .title__underline.title__underline_w77 {
      margin-bottom: 15px;
      width: 70%; }

.container.container_bg_grey {
  background-color: #F7F7F7; }

.benefits {
  padding: 100px 0; }
  .benefits .benefit {
    width: 360px;
    text-align: center; }
    .benefits .benefit .benefit__icon {
      display: block;
      margin: 0 auto 5px; }
    .benefits .benefit .benefit__description {
      font: normal 1em/1.65em "LatoLatin Light", Helvetica, Sans-serif;
      text-align: center; }

.mobile-app {
  padding-top: 100px; }
  .mobile-app .mobile-app__image {
    display: block;
    margin-left: -20px; }
  .mobile-app .mobile-app__details {
    width: 45%; }
  .mobile-app .details {
    padding-top: 70px; }
    .mobile-app .details .details__title {
      padding-bottom: 5px; }
    .mobile-app .details .details__text {
      font: normal 1em/1.65em "LatoLatin Light", Helvetica, Sans-serif;
      padding: 10px 0; }

.container_bg_review {
  background: url("../images/bg-homepage-review.jpg") no-repeat top center #4a3949; }

.reviews {
  border-bottom: 1px solid #584957;
  padding-bottom: 77px; }
  .reviews .reviewer__photos {
    width: 105px;
    height: 105px;
    display: block;
    margin: 77px auto 20px;
    border: 5px solid #928892;
    -webkit-border-radius: 58px;
    border-radius: 58px; }
  .reviews .reviewer__quote {
    font: normal 1.875em/1.2 "LatoLatin Hairline", Helvetica, Sans-serif;
    color: #fff;
    text-align: center;
    width: 77%;
    margin: auto auto 20px; }
    .reviews .reviewer__quote::before {
      display: inline-block;
      content: "“"; }
    .reviews .reviewer__quote::after {
      display: inline-block;
      content: "”"; }
  .reviews .reviewer__name {
    width: 77%;
    margin: auto;
    font: italic 1.125em/2 "LatoLatin Hairline", Helvetica, Sans-serif;
    color: #fff;
    text-align: center;
    padding-bottom: 10px; }
    .reviews .reviewer__name::before {
      display: inline-block;
      content: "-";
      padding-right: 6px; }
    .reviews .reviewer__name::after {
      display: inline-block;
      content: "-";
      padding-left: 5px; }

.cuisines {
  text-align: center; }
  .cuisines .cuisines__title {
    margin: 85px auto 45px; }
  .cuisines .cuisine {
    display: block;
    position: relative;
    width: 20%;
    min-height: 225px;
    text-decoration: none; }
    .cuisines .cuisine .cuisine__image {
      display: block;
      position: absolute;
      width: 100%;
      z-index: -1; }
    .cuisines .cuisine .cuisine__image-filter {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0.30;
      background-color: black;
      -webkit-transition: opacity 0.5s ease 0s;
      -moz-transition: opacity 0.5s ease 0s;
      -o-transition: opacity 0.5s ease 0s;
      -ms-transition: opacity 0.5s ease 0s;
      transition: opacity 0.5s ease 0s; }
    .cuisines .cuisine:hover .cuisine__image-filter {
      opacity: 0; }
    .cuisines .cuisine .cuisine__caption {
      position: absolute;
      width: 100%;
      color: #fff;
      z-index: 2; }
      .cuisines .cuisine .cuisine__caption .cuisine__amount {
        display: block;
        padding-top: 5em;
        font: italic 1em/1 "LatoLatin Light", Helvetica, Sans-serif; }
      .cuisines .cuisine .cuisine__caption .cuisine__name {
        display: block;
        font: bold small-caps 3.125em/0.9 "LatoLatin", Helvetica, Sans-serif;
        letter-spacing: 0.04em; }
    .cuisines .cuisine:hover .cuisine__amount,
    .cuisines .cuisine:hover .cuisine__name {
      text-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5); }
  .cuisines .cuisine__stats {
    width: 160px;
    padding-top: 58px;
    padding-bottom: 58px;
    text-align: center; }
    .cuisines .cuisine__stats .stats__amount {
      font: bold 2.125em/1 "LatoLatin", Helvetica, Sans-serif; }
    .cuisines .cuisine__stats .stats__caption {
      padding-top: 8px;
      font: normal 1em/1.125 "LatoLatin Light", Helvetica, Sans-serif; }

.footer {
  padding-top: 40px;
  padding-bottom: 30px;
  background-color: #f7f7f7;
  border-top: 1px solid #e2e2e2; }
  .footer .footer__copyright,
  .footer .footer__design {
    font: normal 0.875em/1 "LatoLatin Light", Helvetica, Sans-serif;
    color: #8B8B8B; }
  .footer .footer__design .footer__design_black {
    color: #000000; }

.carousel {
  overflow: hidden;
  position: relative;
  /* If you`re needing more than 3 banners, maybe you
	 might be using another way to represent your info... ;-) */ }
  .carousel .carousel__input:checked + .carousel__item {
    opacity: 1;
    pointer-events: auto;
    position: static; }
  .carousel .carousel__item {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: opacity 0.6s ease-in-out;
    width: 100%;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none; }
  .carousel .carousel__indicators {
    bottom: 5%;
    left: 5%;
    list-style: none;
    margin: 0;
    padding: 0;
    right: 5%;
    text-align: center;
    z-index: 2; }
    .carousel .carousel__indicators .carousel__indicator-wrapper {
      display: inline-block;
      list-style: none; }
    .carousel .carousel__indicators .carousel__indicator {
      border-radius: 50%;
      cursor: pointer;
      color: #796D78;
      display: block;
      font-size: 20px;
      line-height: 1;
      padding: 5px 4px;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); }
  .carousel #qt-1:checked ~ .carousel__indicators .carousel__indicator[for="qt-1"],
  .carousel #qt-2:checked ~ .carousel__indicators .carousel__indicator[for="qt-2"] {
    color: #fff; }
